  <p>Greetings, <%= @name %><p>
    <p>
      You device called <%= @device.description %>,
      was disconnected, please check your internet connection.<br>
    </p>
    <p>
      During disconnection all measures are saved in your device and uploaded after connection it's working,
      but please ensure that connection will be established as soon as possible.
    </p>
    <p>Thanks and have a great day,</p>
    <p>DG Meter Team</p>